body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Playfair Display', serif;
    transition: background-color 0.3s;
}

.main .section-top::before {
    content: "";

    background: url('../Images/index-back1.jpeg') no-repeat center center/cover;
    position: absolute;
    left: 0;
    right: 0;
    height: 40vh;
    z-index: -1;
    opacity: .7;
    animation-name: section-background;
    animation-duration: 40s;
    animation-iteration-count: infinite;


}

@keyframes section-background {
    0% {
        background: url('../Images/index-back1.jpeg') no-repeat center center/cover;
    }

    25% {
        background: url('../Images/index-back2.png') no-repeat center center/cover;
    }

    50% {
        background: url('../Images/index-back3.jpg') no-repeat center center/cover;
    }

    75% {
        background: url('../Images/index-back5.jpg') no-repeat center center/cover;
    }

}


.section-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-top p {
    font-weight: bold;
}

.img img {
    border-radius: 50%;
}

.typewriter h1 {
    color: #ffffff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(100, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.container {
    margin-top: 15px;
    box-sizing: border-box;
    padding: 5px;
    margin: 15px 0 0 0;
    background-color: #ffffff;
}

.container h1 {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    grid-gap: 5px;
    padding: 5px;
}

.footer_content a {
    text-decoration: none;
    color: white;
}

.footer_content a:hover {
    color: blueviolet;
}

.section-container {
    background-color: #f7f7f7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
    background-color: white;
    font-size: 36px;
    color: #333;
    text-align: center;
}

.section-content {
    font-size: 18px;
    color: #666;
}

body[data-theme="dark"] {
    background-color: black;
    color: white;
}